
body{font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:larger;
    color:steelblue;
    background-color:beige;
}
ol{
   font-size: medium;
    color:cornflowerblue;
}
ul{
   
    color:skyblue
}